@model event_planning.Models.Event
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Регистрация на мероприятие";
}

<h2>Регистрация на мероприятие</h2>
<div>
    <br /><p>Пользователь @User.Identity.GetUserName()</p>
    <h2>@Model.Name</h2>
    <div style="display: inline-block; margin: 15px; width: auto;">
        Тема:
        <h3>@Model.theme</h3>
    </div>
    <div style="display: inline-block; margin: 15px; width: auto;">
        Место:
        <h3>@Model.location</h3>
    </div>
    <div style="display: inline-block; margin: 15px; width: auto;">
        Дата и время:
        <h3>@Model.field_1</h3>
    </div>
    <h4>@Model.field_2</h4>
    <h4>@Model.field_3</h4>
    <h4>@Model.field_4</h4>
    <h4>@Model.field_5</h4>

    <br />
    @if (ViewBag.f_reg == true)
    {
        <p style="color: green;">Вы зарегистрированы</p>
    }

    @using (Html.BeginForm("Reg", "Home", FormMethod.Post))
    {
        <fieldset>
            <p>
                @Html.HiddenFor(m => m.Name)
                @Html.HiddenFor(m => m.Id)
            </p>
            <p><input type="submit" class="btn btn-primary" value="Зарегистрироваться" /></p>
        </fieldset>
    }
</div>

